@use '../../../../app/styles/helpers/variables.scss';
@use '../../../../app/styles/helpers/functions.scss';

.header {
  padding-block: functions.to-rem(30);
  color: variables.$white;
  font-size: functions.to-rem(18);
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  max-width: functions.to-rem(188);
}
