@use '../../../../app/styles/helpers/functions.scss';
@use '../../../../app/styles/helpers/variables.scss';

.content {
  display: flex;
  justify-content: space-between;
  gap: functions.to-rem(110);
  color: variables.$white;
}

.titleInner {
  max-width: functions.to-rem(325);
}

.title {
  margin-bottom: functions.to-rem(40);
}

.subtitle {
  font-size: functions.to-rem(18);
  margin-bottom: functions.to-rem(14);
}

.cardInner {
  flex-grow: 1;
}
