@use '../../../../app/styles/helpers/functions.scss';
@use '../../../../app/styles/helpers/variables.scss';

.content {
  display: flex;
  justify-content: space-between;
  gap: functions.to-rem(25);
  color: variables.$white;
}

.titleInner {
  max-width: functions.to-rem(410);
}

.title {
  margin-bottom: functions.to-rem(23);
}

.text {
  color: variables.$white-grey;
  margin-bottom: functions.to-rem(14);
}

.cardInner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: functions.to-rem(80) functions.to-rem(24);
}

.card-1 {
  grid-column: 2 / -1;
}
