// colors
$primary: #061f42;
$secondary: #e9ebf1;

$white: #f8fbfb;
$white-grey: #c3cad2;

$grey: #8e9399;
$grey-md: #767f8b;
$grey-dark: #465160;
$grey-blue-dark: #28374c;

$blue: #083b9c;
$blue-md: #17355f;

$black: #071223;

// sizes
$default-font: 16;
