@use '../../../../app/styles/helpers/functions.scss';
@use '../../../../app/styles/helpers/variables.scss';

.content {
  display: flex;
  justify-content: space-between;
}

.title {
  margin-bottom: functions.to-rem(32);
}

.text {
  max-width: functions.to-rem(302);
  margin-bottom: functions.to-rem(48);
}

.contentInner {
  display: flex;
  flex-direction: column;
  gap: functions.to-rem(8);
  margin-bottom: functions.to-rem(40);

  a {
    font-size: functions.to-rem(18);
  }
}

.imageBox {
  display: flex;
  gap: functions.to-rem(24);
}

.imageInner {
  display: flex;
  flex-direction: column;
  gap: functions.to-rem(30);
}

.emailInner,
.phoneInner {
  display: flex;
  gap: functions.to-rem(16);
  align-items: center;
  margin-bottom: functions.to-rem(8);

  h3 {
    font-size: functions.to-rem(28);
  }
}
